 <!-- creating form tag -->
<!-- this is a partial, main body is in new.html.erb and also in edit.html.erb in views/profile folder  -->
<%= form_for @profile, url: user_profile_path, :html => { :multipart => true } do |f| %> <!-- for singular resources we need to specify the url -->
   
    <div class="form-group">   <!-- using bootstrap form-group for spacing -->
         <%= f.label :first_name %>
         <%= f.text_field :first_name, class: 'form-control' %>
    </div>
    
    <div>
         <%= f.label :last_name %>
         <%= f.text_field :last_name, class: 'form-control' %>
    </div>
    
     <div>
         <%= f.label :avatar%>
         <%= f.file_field :avatar, class: 'form-control' %>
    </div>
    
    <div>
         <%= f.label :job_title %>
         <%= f.select :job_title, ['Developer', 'Entrepreneur', 'Investor'], {}, class: 'form-control' %>
    </div>
    
    <div>
         <%= f.label :phone_number%>
         <%= f.text_field :phone_number, class: 'form-control' %>
    </div>
    
    <div class="form-group">
      <%= f.label :contact_email %>
      <%= f.text_field :contact_email, class: 'form-control' %>
    </div>
    
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>
    </div>
    
    <div class="form-group">
      <%= f.submit "Update Profile", class: 'btn btn-primary' %>
    </div>
  <% end %>
  